.tags-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
  margin-bottom: 5px;

  &_disabled {
    overflow: hidden;
    height: 36px;
  }

  &__item {
    margin: 3px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  &__cross-button {
    margin: 3px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 30px;
    min-width: 30px;
  }
}